<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mani.beatsalbumsearch" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".AlbumSearchApplication"
        >
        <activity
            android:name=".ui.activity.AlbumSearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme.Base.WithActionBar"
            android:name=".ui.activity.AlbumDetailsActivity"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>
